include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include recod_erpnext_design *.css
recursive-include recod_erpnext_design *.csv
recursive-include recod_erpnext_design *.html
recursive-include recod_erpnext_design *.ico
recursive-include recod_erpnext_design *.js
recursive-include recod_erpnext_design *.json
recursive-include recod_erpnext_design *.md
recursive-include recod_erpnext_design *.png
recursive-include recod_erpnext_design *.py
recursive-include recod_erpnext_design *.svg
recursive-include recod_erpnext_design *.txt
recursive-exclude recod_erpnext *.pyc